/* Enter your custom styles here */


.map_placemark_container {
    position: relative;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 38px 12px;
    font-size: 9px;
    font-family: arial;
    font-weight: bold;
    width: 48px;
    height: 48px;
}
.map_placemark_container_selected {
    border: 1px dashed #DC143C;
}
.map_placemark_container_inactive {
    opacity: 0.3;
}
.map_placemark_icon {
    grid-column: 1;
    grid-row: 1;
    /*border: solid black;
        border-width: 1px 1px 1px 1px;*/
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 0.8;

}
.map_placemark_icon_no_right_details {
    grid-column: 1 / 3;
    grid-row: 1;
    /*border: solid black;
        border-width: 1px 1px 1px 1px;*/
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 0.8;
}
.map_placemark_bottom_content {
    grid-column: 1 / 3;
    grid-row: 2;
    /*border: solid black;
        border-width: 1px 1px 1px 1px;*/
}
.map_placemark_right_content {
    grid-column: 2;
    grid-row: 1;
    /*border: solid black;
        border-width: 1px 1px 1px 1px;*/
    /*display: flex;
    justify-content: right;
    align-items: center;*/
}
.map_placemark_center {
    position: absolute;
    font-size: 10px;
    top: 4px;
    left: 4px;
    color: #930a0a;
}
.map_placemark_top_left {
    position: absolute;
    font-size: 10px;
    top: 0px;
    left: 0px;
    color: #930a0a;
}
.map_placemark_bottom_right {
    position: absolute;
    font-size: 10px;
    bottom: 0px;
    right: 0px;
    color: #930a0a;
}
.map_placemark_top_right {
    position: absolute;
    font-size: 10px;
    top: -4px;
    right: -3px;
    color: #930a0a;
}
.map_placemark_detail {
	padding-left: 1px;
	padding-right: 1px;
}
.map_placemark_baloon_content {
    margin: 2px;
}

#menu {
    position: absolute;
    width: 12em;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-bottom: 10px;
    z-index: 2
}

#menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

input {
    width: 10em;
}


/* Квадратный макет метки */

.square_layout {
    position: absolute;
    /*display:flex;
    align-items:flex-start;*/
    left: -23px;
    top: -23px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border: 2px solid #218703;
    /*background-color: #F8FDF7;*/
    color: #218703;
}

.my-hint {
    display: inline-block;
    padding: 5px;
    /*height: 35px;*/
    position: relative;
    left: 0px;
    width: 200px;
    font-size: 11px;
    line-height: 17px;
    color: #333333;
    text-align: left;
    vertical-align: top;
    background-color: #faefb6;
    border: 1px solid #CDB7B5;
    border-radius: 10px;
    font-family: Arial;
}